body {
  background-color: white;
}

.bank-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  background-color: white;
  width: 90%;
  padding: 5px;
}

.bank-item {
  position: relative;
  padding: 1px;
}

.bank-item img {
  width: 85px;
  color: black;
}

.bank-item h2 {
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: 10pt;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.text-found {
  color: hsl(120, 50%, 75%);
  background: rgba(255,255,255,0.4);
}

.head-dir-button-container {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
}

.head-dir-button {
  height: 10px;
  width:  10px;
  background-color: green;
  border-radius: 2px;
  position: relative;
  --float: left;
}
