html, body {
  height: 100vh;
}

.content {
  display:         flex;
  display:      -webkit-flex;
  flex-flow:       column wrap;
  -webkit-flex-flow: column wrap;
  justify-content: flex-start;
  background-color: white;
  height: 100%;
}

/****************************************
 ********** Top-level boxes *************
 ****************************************/

.movie-widget {
  order: 1;
  flex: 1;
  background-color: pink;
  min-height: 240px;
}

.selections-widget{
  order: 2;
  flex: 1;
  background-color: #9f9; /* light green */
  min-height: 70px;
}

.clip-properties-widget{
  order: 3;
  flex: 1;
  background-color: #99f; /* light blue */
  min-height: 200px;
  max-height: 200px;
  min-width:300px;
}

.stable-properties-widget{
  order: 5;
  flex: 1;
  background-color: #9ff; /* cyan? */
  min-height: 200px;
  max-height: 200px;
  min-width:300px;
}

.choice-bank-widget{
  order: 4;
  flex: 1;
  background-color: #bb9; /* lighth purple */
  min-height: 200px;
}


/****************************************
 ************** Choice bank *************
 ****************************************/

/* .bank {
  float: left;
  width: 50%
} */

.bank-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  background-color: white;
  width: 90%;
  padding: 5px;
}

.bank-item {
  padding: 1px;
}

.choice-bank-choice {
  position: relative;
  width: 65px;
  height: 65px;
}

.choice-bank-choice img {
  position: absolute
  width: 65px;
  height: 65px;
  color: black;
  top: 0px;
  left: 0px;
}
.choice-bank-choice-text {
  position: absolute;
  font-size: 8pt;
  bottom: 0px;
  left: 0px;
}

.choice-bank-text-match  {
  background-color: #bff;
}

.bank-item h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 8pt;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.text-found {
  color: hsl(120, 50%, 75%);
  background: rgba(255,255,255,0.4);
}

.head-dir-button-container {
  display: flex;
  margin-top: -4px;
  display: -webkit-flex;
  justify-content: space-around;
  background-color: black;
  padding-right: 1px;
}

.head-dir-button {
  height: 10px;
  flex-grow: 1;
  background-color: hsla(100,50%,75%,0.5);
  position: relative;
  margin-left: 1px;
  --border-style:solid;
  --border-width: 0px 1px 0px 1px;
}

.head-dir-button:hover {
  background-color: hsla(100,50%,75%,1);
}

.head-dir-indicator img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
}

.response{
  height: 75px;
}
.answer-face{
  position: relative;
  width: 75px;
  height: 75px;
  float: left;
}

.answer-face-face {
  position: absolute;
  width: 75px;
  height: 75px;
}

.answer-face-dir{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  opacity: 0.75;
}

.del-button{
  position: absolute;
  top: 0px;
  left: 0px;
}

.fa {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  opacity: 0.75;
  text-shadow: 1px 1px 1px black;
}
