body {
  background-color: white;
}

.bank-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  background-color: white;
  width: 90%;
  padding: 5px;
}

.bank-item {
  position: relative;
  padding: 1px;
}

.bank-item img {
  width: 85px;
  color: black;
}

.bank-item h2 {
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-size: 10pt;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.text-found {
  color: hsl(120, 50%, 75%);
  background: rgba(255,255,255,0.4);
}

.head-dir-button-container {
  display: flex;
  margin-top: -4px;
  display: -webkit-flex;
  justify-content: space-around;
  background-color: black;
  padding-right: 1px;
}

.head-dir-button {
  height: 10px;
  flex-grow: 1;
  background-color: hsla(100,50%,75%,0.5);
  position: relative;
  margin-left: 1px;
  --border-style:solid;
  --border-width: 0px 1px 0px 1px;
}

.head-dir-button:hover {
  background-color: hsla(100,50%,75%,1);
}

.head-dir-indicator img {
  width: 45px;
  height: 60px;
}

.response{
  height: 75px;
}
.answer-face{
  position: relative;
  width: 75px;
  height: 75px;
  float: left;
}

.answer-face-face {
  position: absolute;
  width: 75px;
  height: 75px;
}

.answer-face-dir{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
}

.del-button{
  position: absolute;
  top: 0px;
  left: 0px;
}
