html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgba(200,200,200,1);
    margin: 0px;
    height: 100%;
    width: 100%;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.modal-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
}

.survey-content {
    display: flex;
    flex-direction: column;
}

.qs-and-vid {
    display: flex;
    align-items: center;
}

.yesno {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: #245C44;
}

.yesno button {
    width: 100px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
}

.yesno button:hover {
    box-shadow: 9px 9px 9px rgba(0,0,0,0.05);
}

.yesno span {
    margin: 10px;
}

.interaction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.videoandquestion {
    font-size: 14pt;
}

.video-container {
    width: 640px;
    height: 480px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

.video-container video {
    width: 640px;
}

.input-group {
    margin: 10px;
    padding: 0px;
    padding-left: 10px;
    border: 0px solid gray;
    border-left: 3px solid rgba(0,0,0,0.2);
}


/*****************************/
/* Pre-test survey questions */
/*****************************/

.survey-video span {
    position: absolute;
    top: 25px;
    left: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(255,255,255,0.75);

}

.survey {
    background-color: white;
    padding: 20px;
    max-width:90%;
    max-height: 90%;
    border-radius:20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}

.questions, .survey-video {
    padding: 20px;
    position: relative;
}

.replay-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.survey-form {
}


.survey-video span:hover {
    background-color: rgba(255,255,255,1);
}

.survey-video video {
    width: 100%;
}

.survey button {
    width: 50%;
    margin: 0 auto;
}

/************************/
/* Pre-test memory quiz */
/************************/

.memory-quiz {
    padding: 50px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 20px 20px 20px black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.memory-quiz .form-control {
    flex-grow: 2;
}

.memory-quiz td {
    padding: 2px;
    padding-left: 10px;
}

.memory-quiz span {
    align-self: right;
    opacity: 0.5;
}

.memory-quiz span:hover {
    align-self: right;
    opacity: 1;
}

/************************/
/* Performance Warning  */
/************************/

.warning-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.warning-modal > div {
    background-color: white;
    width: 80%;
    padding: 20px;
    border-radius:20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
}

.warning-top {
    padding: 20px;
    display: flex;
    align-items: center;
}

.warning-text {
    padding: 10px;
}

.warning-text > h1 {
    font-size: 20pt;
}

.warning-text > p {
    font-size: 14pt;
}

.warning-text > h2 {
    font-size: 16pt;
}

.warning-glyphicon > span {
    font-size: 80pt;
    color: hsla(180, 50%, 75%,1);
}

.warning-modal .button-group {
    display: flex;
    justify-content: space-around;
    border-top: solid 1px hsla(0,0%,0%,0.25);
    padding: 20px;
}

.warning-modal .button-group .glyphicon {
    margin: 10px;
}

// TODO drop
.content > button {
    position: absolute;
}

/*********************************/
/*         Debriefing            */
/*********************************/

.debrief {
    background-color: white;
    padding: 20px;
    max-width:90%;
    max-height: 90%;
    border-radius:20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}

.debrief span {
    margin: 5px;
}


