html, body {
  height: 100vh;
}

.content {
  height: 100%;
  width: 100%;
}

.left-half {
  float: left;
  display:         flex;
  display:      -webkit-flex;
  flex-flow:       column nowrap;
  -webkit-flex-flow: column nowrap;
  justify-content: flex-start;

  padding: 20px;
  width: 58%;
}

.right-half {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
}

.left-child {
  display: flex;
  flex-flow: row nowrap;
    margin: 5px;
    padding: 5px;
}


.top-left {
  flex-grow: 1;
}

.bottom-half {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
}

/****************************************
 ********** Top-level boxes *************
 ****************************************/


.movie-widget {
  order: 1;
  min-height: 400px;
}

.selections-widget{
  order: 2;
  min-height: 70px;
}

.choice-bank-widget{
  order: 1;
  flex: 1;
  /* max-width:400px; 
  min-width:400px; */
}

.clip-properties-widget{
  order: 1;
  flex: 1;
  /* background-color: #99f; */ /* light blue */
  /* min-height: 200px;
  max-height: 200px;
  min-width:300px; */
}

.stable-properties-widget{
  order: 1;
  flex: 1;
  /* background-color: #9ff; */ /* cyan? */
  /* min-height: 200px;
  max-height: 200px;
  min-width:400px;
  max-width:400px; */
}

.stable-properties-widget, .clip-properties-widget {
    border: 1px solid;
    border-radius: 3px;
    border-color: rgba(230,230,230,1);
    margin: 5px;
    min-height:120px;
}

.clip-properties-widget {
   min-width: 325px;
}

/****************************************
 ************** Choice bank *************
 ****************************************/

.bank-container, .selections-container, .movie-widget {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  background-color: white;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgba(230,230,230,1);
}

.selections-container {
    min-height: 80px;
    width: 100%;
}

.bank-item {
  padding: 1px;
}

.choice-bank-choice, .selection-choice {
  position: relative;
  width: 65px;
  height: 65px;
  margin: 5px;
  border-radius: 5px;
}

.choice-bank-choice img, .selection-choice img {
  position: absolute;
  width: 65px;
  height: 65px;
  color: black;
  top: 0px;
  left: 0px;
  border-radius: 5px;
}
.choice-bank-choice-text, .selection-choice-text {
  position: absolute;
  font-size: 8pt;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px 0px 0px 3px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0px;
  width: 100%;
}

.choice-bank-text-match  {
  background-color: #bff;
}

.bank-item h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 8pt;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.text-found {
  color: hsl(120, 50%, 75%);
  background: rgba(200,200,255,0.4);
}

video {
    width: 100%;
}

.head-dir-button-container {
  display: flex;
  margin-top: -4px;
  display: -webkit-flex;
  justify-content: space-around;
  background-color: black;
  padding-right: 1px;
}

.head-dir-button {
  height: 10px;
  flex-grow: 1;
  background-color: hsla(100,50%,75%,0.5);
  position: relative;
  margin-left: 1px;
  --border-style:solid;
  --border-width: 0px 1px 0px 1px;
}

.head-dir-button:hover {
  background-color: hsla(100,50%,75%,1);
}

.head-dir-indicator img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
}

.response{
  height: 75px;
}
.answer-face{
  position: relative;
  width: 75px;
  height: 75px;
  float: left;
}

.answer-face-face {
  position: absolute;
  width: 75px;
  height: 75px;
}

.answer-face-dir{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  opacity: 0.75;
}

.del-button{
  position: absolute;
  top: 0px;
  left: 0px;
}

.fa {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  opacity: 0.75;
  text-shadow: 1px 1px 1px black;
}

.selected {
    box-shadow: 0px 0px 5px hsla(100,50%,2%,1);
    border-style: solid;
    border-color: white;
    border-width: 3px;
}
